[submodule "dpdk"]
  path = thirdparty/dpdk
  url = git@github.com:DPDK/dpdk.git
[submodule "spdk"]
  path = thirdparty/spdk
  url = git@github.com:spdk/spdk.git
[submodule "fio"]
  path = thirdparty/fio
  url = git@github.com:axboe/fio.git
[submodule "openssl"]
  path = thirdparty/openssl
  url = git@github.com:openssl/openssl.git
[submodule "zstd"]
  path = thirdparty/zstd
  url = git@github.com:facebook/zstd.git
[submodule "rapidjson"]
  path = thirdparty/rapidjson
  url = git@github.com:Tencent/rapidjson.git